*{
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body{
	color: white;
	font-family: "Arial",sans-serif;
	font-size: 16px;
	background: url(../img/background-site.jpg);
	/*overflow-x: hidden; */
}
.header{
	background: rgba(0,0,0,0.7) url(../img/header-background.jpg) no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	position: relative;

}
a{
	color: white;
	text-decoration: none;
}
#top{
	position: fixed;
	bottom: 90px;
	right: 30px;
	padding: 0;
	color: rgba(0,0,0,0.7);
	font-size: 50px;
	display: none;
}
nav{
  width: 100%;
  position: fixed;
	top:0;
  color: white;
  padding:0;
 
}
.bind{
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	display: inline-block;
}
#nav1{
	padding: 0;
	margin:0;
	background-color: black!important;

}
#nav1 a{
	float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 20px;
    

}
#nav1 a:hover{
	
	background: rgba(0,0,0,0.9);
}
#mj{
	font-family: 'Dancing Script', cursive;
	color: white;
	z-index: 100;
	padding: 10px;
	margin-left: 30px;
	visibility: hidden;
    font-size: 25px;
    cursor: pointer;
    z-index: 100;

}
#nav2{
	position: fixed;
	left: 0;
	width: 100%;
    top: 47px;	
    background-color: rgba(0,0,0,0.7);
	z-index: 100;
	display: none;
	margin: 0;
	
}
#nav2 a{
	display: block;
	padding: 15px;
	margin: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;

}
#nav2 a:hover{
	background: rgba(0,0,0,0.9);
	
}
#social_buttons{
	float: right;
	margin-right: 50px;
	font-size: 30px;
}
#social_buttons a{
	height: 50px;
	padding: 0 5px;
	line-height: 50px;
	cursor: pointer;
}
#social_buttons a:hover{
	color:#e1e1e1;
}
#hamburger{
	float: right;
	height: 36px;
	width: 36px;
	background: transparent;
	color: white;
    text-align: center;
    margin: 5px; 
    margin-right: 5px;
    border: 1px solid white;
    border-radius: 3px;
    -moz- border-radius: 3px;
    -webkit- border-radius: 3px;
    -o- border-radius: 3px;
    display: none;


}
.ham1, .ham2, .ham3{
	width:20px;
	height:3px;
	background: white;
	margin: 6px auto;
	display: block;
	-webkit-transition: all 0.5s linear;
	
}
.trans > .ham1{
  transform: rotate(45deg) translate(6px,6px);
 /* -webkit-transform: rotate(45deg) translate(4.8px,7.8px); */
  -moz-transform: rotate(45deg) translate(4.8px,7.8px);
  -o-transform: rotate(45deg) translate(5px,7px) 
}
.trans > .ham2{
	opacity: 0;
}
.trans > .ham3{
	transform: rotate(-45deg) translate(5px,-8px)
}
.welcome_div{
	clear: both;
	width: 100%;
	height: 500px;
	text-align: center;
	
	
}
.w_container{
	padding-top:15%;
}
.welcome_span1{
	font-size: 4em;
}
.welcome_span2{   
	font-family: 'Dancing Script', cursive;
	font-size: 3em;
} 
.w_container .welcome_span1{
	margin-right: 0;
}

section{
	margin-top: 0px;
	width: 100%;
	font-size: 14px;
	color: black;

}
section div{
	margin: 0 auto;
	
	width: 100%;
	

}
section > div{
	padding-top: 70px;
	padding-bottom: 70px;
}
section > div:nth-child(odd){
     background: rgba(47, 99, 111, 0.2);
}

section > div > div{
	margin: auto;
	padding: 30px;
	width: 80%;
	
}
section > div > div > img{
	display: block;
	margin: auto;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
section > div > div > p{
	padding: 15px;

}
section h1{
	font-size: 30px;
	margin-bottom: 30px;
}
section h3{
	font-size: 28px; 
}
.numeration{
	margin-left: 150px;
}
.numeration li {
	font-size: 19px;

}
footer{
	background:rgba(0,0,0,0.7);
	text-align: center;
	padding: 30px;
}
.slideanim {
	visibility:hidden;
}
.slider{
	-webkit-animation: slide 0.4s  linear;
	-moz-animation: slide 0.4s  linear;
	-o-animation: slide 0.4s  linear;
	visibility: visible; 
}
@keyframes slide {
	0%{
		transform: translateY(70%);
		opacity: 0;
		filter(alpha = 0%);
	}
	100%{
		transform: translateY(0%);
		opacity: 1;
		filter(alpha = 100%);
	}
}
@media only screen and (max-width: 768px){
    .welcome_div{
    	height: 500px;
    }
    #nav1{
    	display: none;
    }
    #social_buttons{
	float: left;
	margin-right: 50px;
	font-size: 30px;
    }
    #social_buttons a{
    	cursor: pointer;
    }
    #social_buttons a:hover{
    	color: #e1e1e1;
    }
    
    #hamburger{
    	display: block;
    	cursor:pointer;
    }
    #mj{
    	visibility: visible;
    }
    .w_container{
	padding-top:25%;
}
   .welcome_span1, .welcome_span2{
		font-size: 1.5em;
	}
	
	section div img{
		width: 120px;
		height: 120px;
	}
	section > div{
	
	padding-top: 50px;
}
	section > div > div{
	
	padding: 20px;
	
}
	section h1{
		font-size: 20px;
	}
	section h3{
	font-size: 14px; 
}
.numeration{
	margin-left: 30px;
}

	
.numeration li {
	font-size: 15px;
	
}
iframe{
	height: 200px!important;
}

} 